.post-item__date {
  opacity: .5;
}

.posts-filter {
  width: 70%;
  padding: 0 16px;
  margin-top: 10px;
}

.page-header-title {
  white-space: nowrap !important;
}

::ng-deep {
  .mat-form-field-underline {
    display: none;
  }

  mat-form-field .mat-chip-list-wrapper {
    flex-wrap: nowrap;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
