.app {
  &-wrapper {
    min-height: 100vh;
  }

  &-sidebar {
    width: 200px;
    mat-list-option {
      height: 80px;
      font-size: 17px;
      color: darkslategrey;
      padding: 0 16px;
    }
  }

  &-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    app-header {
      ::ng-deep .mat-toolbar.mat-primary {
        background: rgb(0 0 0 / 82%);
        color: white;
      }
    }
  }
}

::ng-deep {
  button.mat-primary[mat-flat-button] {
    background: rgb(0 0 0 / 82%);
  }
  .mat-list-option.mat-list-single-selected-option {
    background-color: unset;
  }
}

.router-active-link {
  background: rgba(0, 0, 0, 0.12);
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(0, 0, 0, 0.12);
}
