
<mat-form-field>
  <mat-chip-list #myChipList selectable multiple aria-label="Fish selection">
    <mat-chip #c="matChip" *ngFor="let option of (items$ | async)" [value]="option" (click)="toggleSelection(c)">
      <mat-icon *ngIf="c.selected">check</mat-icon>
      {{option}}
    </mat-chip>
    <input *ngIf="input"[matChipInputFor]="myChipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addChip($event)" />
  </mat-chip-list>
</mat-form-field>
