<div class="form">
  <div>
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input
    type="file"
    id="file"
    name="file"
    accept=".txt, plain/text"
    hidden 
    (change)="updateImageDisplay($event.target.files[0])" #fileInput type="file" id="file"
    >
  </div>
  <div #preview class="preview">
    <h2 *ngIf="fileName">{{ fileName }}</h2>
    <pre>{{ previewValue }}</pre>
  </div>
  <div class="submit">
    <button mat-button (click)="saveFile()">Submit</button>
  </div>
</div>